-- GENERAL SETTINGS DATA --
-- Current general_settings record --
ID: 1
Site name: Doitay.vn
Active template: basic
Created at: 2025-06-07 05:02:25
Updated at: 2025-06-24 19:42:23

DELETE FROM general_settings;

-- Alternative: Just update active_template --
UPDATE general_settings SET active_template = 'basic' WHERE id = 1;
 
