# The proper term is pseudo_replica_mode, but we use this compatibility alias
# to make the statement usable on server versions 8.0.24 and older.
/*!50530 SET @@SESSION.PSEUDO_SLAVE_MODE=1*/;
/*!50003 SET @OLD_COMPLETION_TYPE=@@COMPLETION_TYPE,COMPLETION_TYPE=0*/;
DELIMITER /*!*/;
# at 4
#250506 13:12:45 server id 1  end_log_pos 126 CRC32 0x4c4cfc2e 	Start: binlog v 4, server v 8.0.40 created 250506 13:12:45 at startup
ROLLBACK/*!*/;
# at 126
#250506 13:12:45 server id 1  end_log_pos 157 CRC32 0x7781be10 	Previous-GTIDs
# [empty]
# at 157
#250508 14:19:03 server id 1  end_log_pos 236 CRC32 0x4dc76051 	Anonymous_GTID	last_committed=0	sequence_number=1	rbr_only=yes	original_committed_timestamp=1746688743799408	immediate_commit_timestamp=1746688743799408	transaction_length=746
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746688743799408 (2025-05-08 14:19:03.799408 SE Asia Standard Time)
# immediate_commit_timestamp=1746688743799408 (2025-05-08 14:19:03.799408 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746688743799408*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 236
#250508 14:19:03 server id 1  end_log_pos 335 CRC32 0xd9d2cff1 	Query	thread_id=128	exec_time=0	error_code=0
SET TIMESTAMP=1746688743/*!*/;
SET @@session.pseudo_thread_id=128/*!*/;
SET @@session.foreign_key_checks=1, @@session.sql_auto_is_null=0, @@session.unique_checks=1, @@session.autocommit=1/*!*/;
SET @@session.sql_mode=1073741824/*!*/;
SET @@session.auto_increment_increment=1, @@session.auto_increment_offset=1/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=224,@@session.collation_connection=224,@@session.collation_server=255/*!*/;
SET @@session.time_zone='SYSTEM'/*!*/;
SET @@session.lc_time_names=0/*!*/;
SET @@session.collation_database=DEFAULT/*!*/;
/*!80011 SET @@session.default_collation_for_utf8mb4=255*//*!*/;
BEGIN
/*!*/;
# at 335
#250508 14:19:03 server id 1  end_log_pos 417 CRC32 0xb41098d4 	Table_map: `t_review_db`.`frontends` mapped to number 96
# has_generated_invisible_primary_key=0
# at 417
#250508 14:19:03 server id 1  end_log_pos 872 CRC32 0xf9b649e1 	Update_rows: table id 96 flags: STMT_END_F
### UPDATE `t_review_db`.`frontends`
### WHERE
###   @1=67
###   @2='login.content'
###   @3='{"greeting":"Welcome Back","heading":"Login to your account","has_image":"1","image":"6354d7761797e1666504566.jpg"}'
###   @4='basic'
###   @5=NULL
###   @6=NULL
###   @7=1666495566
###   @8=1666495566
### SET
###   @1=67
###   @2='login.content'
###   @3='{"has_image":"1","greeting":"Xin ch\\u00e0o, c\\u00e1m \\u01a1n b\\u1ea1n \\u0111\\u00e3 quay l\\u1ea1i","heading":"\\u0110\\u0103ng nh\\u1eadp v\\u00e0o t\\u00e0i kho\\u1ea3n c\\u1ee7a b\\u1ea1n","image":"6354d7761797e1666504566.jpg"}'
###   @4='basic'
###   @5=''
###   @6=NULL
###   @7=1666495566
###   @8=1746688743
# at 872
#250508 14:19:03 server id 1  end_log_pos 903 CRC32 0xdf6774dc 	Xid = 3322
COMMIT/*!*/;
# at 903
#250508 14:45:20 server id 1  end_log_pos 982 CRC32 0x115c894e 	Anonymous_GTID	last_committed=1	sequence_number=2	rbr_only=yes	original_committed_timestamp=1746690320592148	immediate_commit_timestamp=1746690320592148	transaction_length=598
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746690320592148 (2025-05-08 14:45:20.592148 SE Asia Standard Time)
# immediate_commit_timestamp=1746690320592148 (2025-05-08 14:45:20.592148 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746690320592148*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 982
#250508 14:45:20 server id 1  end_log_pos 1081 CRC32 0xc4ccf07f 	Query	thread_id=183	exec_time=0	error_code=0
SET TIMESTAMP=1746690320/*!*/;
BEGIN
/*!*/;
# at 1081
#250508 14:45:20 server id 1  end_log_pos 1163 CRC32 0x3da91c88 	Table_map: `t_review_db`.`frontends` mapped to number 96
# has_generated_invisible_primary_key=0
# at 1163
#250508 14:45:20 server id 1  end_log_pos 1470 CRC32 0xe03c385e 	Update_rows: table id 96 flags: STMT_END_F
### UPDATE `t_review_db`.`frontends`
### WHERE
###   @1=69
###   @2='register.content'
###   @3='{"heading":"Create an Account","has_image":"1","image":"6354d7ae2cd0e1666504622.jpg"}'
###   @4='basic'
###   @5=NULL
###   @6=NULL
###   @7=1666495622
###   @8=1666495622
### SET
###   @1=69
###   @2='register.content'
###   @3='{"has_image":"1","heading":"T\\u1ea1o t\\u00e0i kho\\u1ea3n","image":"6354d7ae2cd0e1666504622.jpg"}'
###   @4='basic'
###   @5=''
###   @6=NULL
###   @7=1666495622
###   @8=1746690320
# at 1470
#250508 14:45:20 server id 1  end_log_pos 1501 CRC32 0x7e9c7e7a 	Xid = 3991
COMMIT/*!*/;
# at 1501
#250508 15:33:10 server id 1  end_log_pos 1580 CRC32 0x9f81c169 	Anonymous_GTID	last_committed=2	sequence_number=3	rbr_only=yes	original_committed_timestamp=1746693190639437	immediate_commit_timestamp=1746693190639437	transaction_length=387
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746693190639437 (2025-05-08 15:33:10.639437 SE Asia Standard Time)
# immediate_commit_timestamp=1746693190639437 (2025-05-08 15:33:10.639437 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746693190639437*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 1580
#250508 15:33:10 server id 1  end_log_pos 1670 CRC32 0x10eb7e3b 	Query	thread_id=236	exec_time=0	error_code=0
SET TIMESTAMP=1746693190/*!*/;
BEGIN
/*!*/;
# at 1670
#250508 15:33:10 server id 1  end_log_pos 1767 CRC32 0x0428acdd 	Table_map: `t_review_db`.`user_logins` mapped to number 110
# has_generated_invisible_primary_key=0
# at 1767
#250508 15:33:10 server id 1  end_log_pos 1857 CRC32 0xac75edc0 	Write_rows: table id 110 flags: STMT_END_F
### INSERT INTO `t_review_db`.`user_logins`
### SET
###   @1=49
###   @2=1
###   @3='127.0.0.1'
###   @4=''
###   @5=NULL
###   @6=''
###   @7=''
###   @8=''
###   @9='Chrome'
###   @10='Windows 10'
###   @11=1746693190
###   @12=1746693190
# at 1857
#250508 15:33:10 server id 1  end_log_pos 1888 CRC32 0xd8d8078e 	Xid = 5346
COMMIT/*!*/;
# at 1888
#250508 18:54:38 server id 1  end_log_pos 1967 CRC32 0x4a731c19 	Anonymous_GTID	last_committed=3	sequence_number=4	rbr_only=yes	original_committed_timestamp=1746705278107847	immediate_commit_timestamp=1746705278107847	transaction_length=940
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746705278107847 (2025-05-08 18:54:38.107847 SE Asia Standard Time)
# immediate_commit_timestamp=1746705278107847 (2025-05-08 18:54:38.107847 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746705278107847*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 1967
#250508 18:54:38 server id 1  end_log_pos 2058 CRC32 0x842fea4e 	Query	thread_id=270	exec_time=0	error_code=0
SET TIMESTAMP=1746705278/*!*/;
BEGIN
/*!*/;
# at 2058
#250508 18:54:38 server id 1  end_log_pos 2195 CRC32 0xc4fa8885 	Table_map: `t_review_db`.`users` mapped to number 100
# has_generated_invisible_primary_key=0
# at 2195
#250508 18:54:38 server id 1  end_log_pos 2797 CRC32 0x7c2f599f 	Update_rows: table id 100 flags: STMT_END_F
### UPDATE `t_review_db`.`users`
### WHERE
###   @1=1
###   @2='Nguyen Hoang'
###   @3='Tung'
###   @4='tungtaoday'
###   @5='nguyentung0910@gmail.com'
###   @6='84'
###   @7='VN'
###   @8='972585990'
###   @9='$2y$10$S0yksObH08uzs.pU6QImVOUrLyPLcUm45J5DK5V8HZ10Ey5ziMud2'
###   @10='Vietnam'
###   @11='Hanoi'
###   @12=NULL
###   @13='10000'
###   @14='"191 B\\u00e0 Tri\\u1ec7u"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22='120848'
###   @23='2024-10-27 15:19:21'
###   @24=NULL
###   @25='7a52oYftcNSJF69iPmoQraLFwHSGcxhsqXmMhcK3SkNuyFfknyv4ebDVknuF'
###   @26=NULL
###   @27=NULL
###   @28=1729912648
###   @29=1730017503
###   @30=0
### SET
###   @1=1
###   @2='Nguyen Hoang'
###   @3='Tung'
###   @4='tungtaoday'
###   @5='nguyentung0910@gmail.com'
###   @6='84'
###   @7='VN'
###   @8='972585990'
###   @9='$2y$10$S0yksObH08uzs.pU6QImVOUrLyPLcUm45J5DK5V8HZ10Ey5ziMud2'
###   @10='Vietnam'
###   @11='Hanoi'
###   @12=NULL
###   @13='10000'
###   @14='"191 B\\u00e0 Tri\\u1ec7u"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22='120848'
###   @23='2024-10-27 15:19:21'
###   @24=NULL
###   @25='aplbhhjaOyDukyaNG4EVuJze40ZyGsVEeTOXf5L479gF09W6qut8t048Nmyz'
###   @26=NULL
###   @27=NULL
###   @28=1729912648
###   @29=1730017503
###   @30=0
# at 2797
#250508 18:54:38 server id 1  end_log_pos 2828 CRC32 0x871e6e2c 	Xid = 6782
COMMIT/*!*/;
# at 2828
#250508 18:55:15 server id 1  end_log_pos 2907 CRC32 0x62ee3f41 	Anonymous_GTID	last_committed=4	sequence_number=5	rbr_only=yes	original_committed_timestamp=1746705315604005	immediate_commit_timestamp=1746705315604005	transaction_length=511
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746705315604005 (2025-05-08 18:55:15.604005 SE Asia Standard Time)
# immediate_commit_timestamp=1746705315604005 (2025-05-08 18:55:15.604005 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746705315604005*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 2907
#250508 18:55:15 server id 1  end_log_pos 2997 CRC32 0x2ed6a507 	Query	thread_id=277	exec_time=0	error_code=0
SET TIMESTAMP=1746705315/*!*/;
BEGIN
/*!*/;
# at 2997
#250508 18:55:15 server id 1  end_log_pos 3134 CRC32 0x5f8df591 	Table_map: `t_review_db`.`users` mapped to number 100
# has_generated_invisible_primary_key=0
# at 3134
#250508 18:55:15 server id 1  end_log_pos 3308 CRC32 0x7c2730c9 	Write_rows: table id 100 flags: STMT_END_F
### INSERT INTO `t_review_db`.`users`
### SET
###   @1=22
###   @2='Nguyß╗àn Ho├áng'
###   @3='T├╣ng'
###   @4=NULL
###   @5='tungtaodayvvv@gmail.com'
###   @6=NULL
###   @7='84'
###   @8=NULL
###   @9='$2y$10$YaTrZDeTKfUTbmnqh3cpuehP2pevKGqHY1FFRBwWPIJ0E/l05NBRS'
###   @10=NULL
###   @11=NULL
###   @12=NULL
###   @13=NULL
###   @14=NULL
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=0
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25=NULL
###   @26=NULL
###   @27=NULL
###   @28=1746705315
###   @29=1746705315
###   @30=0
# at 3308
#250508 18:55:15 server id 1  end_log_pos 3339 CRC32 0x803d5e18 	Xid = 6892
COMMIT/*!*/;
# at 3339
#250508 18:55:15 server id 1  end_log_pos 3418 CRC32 0x111bbea6 	Anonymous_GTID	last_committed=5	sequence_number=6	rbr_only=yes	original_committed_timestamp=1746705315621324	immediate_commit_timestamp=1746705315621324	transaction_length=390
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746705315621324 (2025-05-08 18:55:15.621324 SE Asia Standard Time)
# immediate_commit_timestamp=1746705315621324 (2025-05-08 18:55:15.621324 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746705315621324*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 3418
#250508 18:55:15 server id 1  end_log_pos 3508 CRC32 0x8bc31cf3 	Query	thread_id=277	exec_time=0	error_code=0
SET TIMESTAMP=1746705315/*!*/;
BEGIN
/*!*/;
# at 3508
#250508 18:55:15 server id 1  end_log_pos 3594 CRC32 0x32f2b55e 	Table_map: `t_review_db`.`admin_notifications` mapped to number 112
# has_generated_invisible_primary_key=0
# at 3594
#250508 18:55:15 server id 1  end_log_pos 3698 CRC32 0x3198d8d9 	Write_rows: table id 112 flags: STMT_END_F
### INSERT INTO `t_review_db`.`admin_notifications`
### SET
###   @1=31
###   @2=22
###   @3='New member registered'
###   @4=0
###   @5='/admin/users/detail/22'
###   @6=1746705315
###   @7=1746705315
# at 3698
#250508 18:55:15 server id 1  end_log_pos 3729 CRC32 0x848e3c20 	Xid = 6895
COMMIT/*!*/;
# at 3729
#250508 18:55:15 server id 1  end_log_pos 3808 CRC32 0x4cc19192 	Anonymous_GTID	last_committed=6	sequence_number=7	rbr_only=yes	original_committed_timestamp=1746705315658450	immediate_commit_timestamp=1746705315658450	transaction_length=388
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746705315658450 (2025-05-08 18:55:15.658450 SE Asia Standard Time)
# immediate_commit_timestamp=1746705315658450 (2025-05-08 18:55:15.658450 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746705315658450*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 3808
#250508 18:55:15 server id 1  end_log_pos 3898 CRC32 0xd53d2fc3 	Query	thread_id=277	exec_time=0	error_code=0
SET TIMESTAMP=1746705315/*!*/;
BEGIN
/*!*/;
# at 3898
#250508 18:55:15 server id 1  end_log_pos 3995 CRC32 0xb955c914 	Table_map: `t_review_db`.`user_logins` mapped to number 110
# has_generated_invisible_primary_key=0
# at 3995
#250508 18:55:15 server id 1  end_log_pos 4086 CRC32 0x931ca3b1 	Write_rows: table id 110 flags: STMT_END_F
### INSERT INTO `t_review_db`.`user_logins`
### SET
###   @1=50
###   @2=22
###   @3='127.0.0.1'
###   @4=''
###   @5=''
###   @6=''
###   @7=''
###   @8=''
###   @9='Chrome'
###   @10='Windows 10'
###   @11=1746705315
###   @12=1746705315
# at 4086
#250508 18:55:15 server id 1  end_log_pos 4117 CRC32 0xbdcbdb50 	Xid = 6901
COMMIT/*!*/;
# at 4117
#250508 18:55:47 server id 1  end_log_pos 4196 CRC32 0x472eecdc 	Anonymous_GTID	last_committed=7	sequence_number=8	rbr_only=yes	original_committed_timestamp=1746705347382350	immediate_commit_timestamp=1746705347382350	transaction_length=776
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746705347382350 (2025-05-08 18:55:47.382350 SE Asia Standard Time)
# immediate_commit_timestamp=1746705347382350 (2025-05-08 18:55:47.382350 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746705347382350*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 4196
#250508 18:55:47 server id 1  end_log_pos 4295 CRC32 0xdfb15ef7 	Query	thread_id=286	exec_time=0	error_code=0
SET TIMESTAMP=1746705347/*!*/;
BEGIN
/*!*/;
# at 4295
#250508 18:55:47 server id 1  end_log_pos 4432 CRC32 0x4a5b5f77 	Table_map: `t_review_db`.`users` mapped to number 100
# has_generated_invisible_primary_key=0
# at 4432
#250508 18:55:47 server id 1  end_log_pos 4862 CRC32 0xc9e698fc 	Update_rows: table id 100 flags: STMT_END_F
### UPDATE `t_review_db`.`users`
### WHERE
###   @1=22
###   @2='Nguyß╗àn Ho├áng'
###   @3='T├╣ng'
###   @4=NULL
###   @5='tungtaodayvvv@gmail.com'
###   @6=NULL
###   @7='84'
###   @8=NULL
###   @9='$2y$10$YaTrZDeTKfUTbmnqh3cpuehP2pevKGqHY1FFRBwWPIJ0E/l05NBRS'
###   @10=NULL
###   @11=NULL
###   @12=NULL
###   @13=NULL
###   @14=NULL
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=0
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25=NULL
###   @26=NULL
###   @27=NULL
###   @28=1746705315
###   @29=1746705315
###   @30=0
### SET
###   @1=22
###   @2='Nguyß╗àn Ho├áng'
###   @3='T├╣ng'
###   @4='tungtaodayzzzz'
###   @5='tungtaodayvvv@gmail.com'
###   @6=NULL
###   @7='84'
###   @8='0963153970'
###   @9='$2y$10$YaTrZDeTKfUTbmnqh3cpuehP2pevKGqHY1FFRBwWPIJ0E/l05NBRS'
###   @10=NULL
###   @11='Th├ánh phß╗æ H├á Nß╗Öi'
###   @12='Quß║¡n ─Éß╗æng ─Éa'
###   @13='Ph╞░ß╗¥ng Trung Phß╗Ñng'
###   @14='"No 9, Dao Duy Anh"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25=NULL
###   @26=NULL
###   @27=NULL
###   @28=1746705315
###   @29=1746705347
###   @30=0
# at 4862
#250508 18:55:47 server id 1  end_log_pos 4893 CRC32 0x56d1dd9a 	Xid = 7030
COMMIT/*!*/;
# at 4893
#250510 17:15:46 server id 1  end_log_pos 4972 CRC32 0xbd736ccb 	Anonymous_GTID	last_committed=8	sequence_number=9	rbr_only=no	original_committed_timestamp=1746872146963538	immediate_commit_timestamp=1746872146963538	transaction_length=375
# original_commit_timestamp=1746872146963538 (2025-05-10 17:15:46.963538 SE Asia Standard Time)
# immediate_commit_timestamp=1746872146963538 (2025-05-10 17:15:46.963538 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746872146963538*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 4972
#250510 17:15:46 server id 1  end_log_pos 5268 CRC32 0xe8ae8677 	Query	thread_id=9	exec_time=0	error_code=0	Xid = 8224
SET TIMESTAMP=1746872146/*!*/;
SET @@session.sql_mode=1168113696/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=255,@@session.collation_connection=255,@@session.collation_server=255/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE t_review_db.companies
ADD COLUMN city_id bigint unsigned NULL AFTER address,
ADD COLUMN district_id bigint unsigned NULL AFTER city_id,
ADD COLUMN ward_id bigint unsigned NULL AFTER district_id
/*!*/;
# at 5268
#250510 17:19:25 server id 1  end_log_pos 5347 CRC32 0xec954e37 	Anonymous_GTID	last_committed=9	sequence_number=10	rbr_only=yes	original_committed_timestamp=1746872365921102	immediate_commit_timestamp=1746872365921102	transaction_length=946
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746872365921102 (2025-05-10 17:19:25.921102 SE Asia Standard Time)
# immediate_commit_timestamp=1746872365921102 (2025-05-10 17:19:25.921102 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746872365921102*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 5347
#250510 17:19:25 server id 1  end_log_pos 5438 CRC32 0x11d68161 	Query	thread_id=299	exec_time=0	error_code=0
SET TIMESTAMP=1746872365/*!*/;
SET @@session.sql_mode=1073741824/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=224,@@session.collation_connection=224,@@session.collation_server=255/*!*/;
BEGIN
/*!*/;
# at 5438
#250510 17:19:25 server id 1  end_log_pos 5575 CRC32 0x8e2ec381 	Table_map: `t_review_db`.`users` mapped to number 100
# has_generated_invisible_primary_key=0
# at 5575
#250510 17:19:25 server id 1  end_log_pos 6183 CRC32 0xe6e609e5 	Update_rows: table id 100 flags: STMT_END_F
### UPDATE `t_review_db`.`users`
### WHERE
###   @1=22
###   @2='Nguyß╗àn Ho├áng'
###   @3='T├╣ng'
###   @4='tungtaodayzzzz'
###   @5='tungtaodayvvv@gmail.com'
###   @6=NULL
###   @7='84'
###   @8='0963153970'
###   @9='$2y$10$YaTrZDeTKfUTbmnqh3cpuehP2pevKGqHY1FFRBwWPIJ0E/l05NBRS'
###   @10=NULL
###   @11='Th├ánh phß╗æ H├á Nß╗Öi'
###   @12='Quß║¡n ─Éß╗æng ─Éa'
###   @13='Ph╞░ß╗¥ng Trung Phß╗Ñng'
###   @14='"No 9, Dao Duy Anh"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25=NULL
###   @26=NULL
###   @27=NULL
###   @28=1746705315
###   @29=1746705347
###   @30=0
### SET
###   @1=22
###   @2='Nguyß╗àn Ho├áng'
###   @3='T├╣ng'
###   @4='tungtaodayzzzz'
###   @5='tungtaodayvvv@gmail.com'
###   @6=NULL
###   @7='84'
###   @8='0963153970'
###   @9='$2y$10$YaTrZDeTKfUTbmnqh3cpuehP2pevKGqHY1FFRBwWPIJ0E/l05NBRS'
###   @10=NULL
###   @11='Th├ánh phß╗æ H├á Nß╗Öi'
###   @12='Quß║¡n ─Éß╗æng ─Éa'
###   @13='Ph╞░ß╗¥ng Trung Phß╗Ñng'
###   @14='"No 9, Dao Duy Anh"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25='qDPsUWjBZIFqzcQPGTNuCSTD2cyt6sihZbWO98PghpySMQnzeASo6BX3zp5H'
###   @26=NULL
###   @27=NULL
###   @28=1746705315
###   @29=1746705347
###   @30=0
# at 6183
#250510 17:19:25 server id 1  end_log_pos 6214 CRC32 0x08cc5fd5 	Xid = 8279
COMMIT/*!*/;
# at 6214
#250510 17:19:25 server id 1  end_log_pos 6293 CRC32 0xee295392 	Anonymous_GTID	last_committed=10	sequence_number=11	rbr_only=yes	original_committed_timestamp=1746872365939573	immediate_commit_timestamp=1746872365939573	transaction_length=387
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746872365939573 (2025-05-10 17:19:25.939573 SE Asia Standard Time)
# immediate_commit_timestamp=1746872365939573 (2025-05-10 17:19:25.939573 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746872365939573*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 6293
#250510 17:19:25 server id 1  end_log_pos 6383 CRC32 0x41c630ff 	Query	thread_id=299	exec_time=0	error_code=0
SET TIMESTAMP=1746872365/*!*/;
BEGIN
/*!*/;
# at 6383
#250510 17:19:25 server id 1  end_log_pos 6480 CRC32 0x91aff119 	Table_map: `t_review_db`.`user_logins` mapped to number 110
# has_generated_invisible_primary_key=0
# at 6480
#250510 17:19:25 server id 1  end_log_pos 6570 CRC32 0x4e89113a 	Write_rows: table id 110 flags: STMT_END_F
### INSERT INTO `t_review_db`.`user_logins`
### SET
###   @1=51
###   @2=22
###   @3='127.0.0.1'
###   @4=''
###   @5=NULL
###   @6=''
###   @7=''
###   @8=''
###   @9='Chrome'
###   @10='Windows 10'
###   @11=1746872365
###   @12=1746872365
# at 6570
#250510 17:19:25 server id 1  end_log_pos 6601 CRC32 0x917dc18c 	Xid = 8285
COMMIT/*!*/;
# at 6601
#250510 17:23:45 server id 1  end_log_pos 6680 CRC32 0x9df3ec6b 	Anonymous_GTID	last_committed=11	sequence_number=12	rbr_only=no	original_committed_timestamp=1746872625518381	immediate_commit_timestamp=1746872625518381	transaction_length=269
# original_commit_timestamp=1746872625518381 (2025-05-10 17:23:45.518381 SE Asia Standard Time)
# immediate_commit_timestamp=1746872625518381 (2025-05-10 17:23:45.518381 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746872625518381*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 6680
#250510 17:23:45 server id 1  end_log_pos 6870 CRC32 0xc00f4738 	Query	thread_id=9	exec_time=0	error_code=0	Xid = 8493
SET TIMESTAMP=1746872625/*!*/;
SET @@session.sql_mode=1168113696/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=255,@@session.collation_connection=255,@@session.collation_server=255/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE t_review_db.companies
DROP COLUMN city_id,
DROP COLUMN district_id,
DROP COLUMN ward_id
/*!*/;
# at 6870
#250510 17:30:11 server id 1  end_log_pos 6949 CRC32 0xa7f6e3f3 	Anonymous_GTID	last_committed=12	sequence_number=13	rbr_only=no	original_committed_timestamp=1746873011467642	immediate_commit_timestamp=1746873011467642	transaction_length=373
# original_commit_timestamp=1746873011467642 (2025-05-10 17:30:11.467642 SE Asia Standard Time)
# immediate_commit_timestamp=1746873011467642 (2025-05-10 17:30:11.467642 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746873011467642*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 6949
#250510 17:30:11 server id 1  end_log_pos 7243 CRC32 0xdde69fcb 	Query	thread_id=9	exec_time=0	error_code=0	Xid = 8499
SET TIMESTAMP=1746873011/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE t_review_db.companies
ADD COLUMN city_code varchar(50) NULL AFTER address,
ADD COLUMN district_code varchar(50) NULL AFTER city_code,
ADD COLUMN ward_code varchar(50) NULL AFTER district_code
/*!*/;
# at 7243
#250511 11:35:10 server id 1  end_log_pos 7322 CRC32 0xe03dd611 	Anonymous_GTID	last_committed=13	sequence_number=14	rbr_only=yes	original_committed_timestamp=1746938110085097	immediate_commit_timestamp=1746938110085097	transaction_length=1008
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746938110085097 (2025-05-11 11:35:10.085097 SE Asia Standard Time)
# immediate_commit_timestamp=1746938110085097 (2025-05-11 11:35:10.085097 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746938110085097*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 7322
#250511 11:35:10 server id 1  end_log_pos 7413 CRC32 0xf4afd55e 	Query	thread_id=379	exec_time=0	error_code=0
SET TIMESTAMP=1746938110/*!*/;
SET @@session.sql_mode=1073741824/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=224,@@session.collation_connection=224,@@session.collation_server=255/*!*/;
BEGIN
/*!*/;
# at 7413
#250511 11:35:10 server id 1  end_log_pos 7550 CRC32 0x8f4cd3f9 	Table_map: `t_review_db`.`users` mapped to number 100
# has_generated_invisible_primary_key=0
# at 7550
#250511 11:35:10 server id 1  end_log_pos 8220 CRC32 0x0b30fec0 	Update_rows: table id 100 flags: STMT_END_F
### UPDATE `t_review_db`.`users`
### WHERE
###   @1=22
###   @2='Nguyß╗àn Ho├áng'
###   @3='T├╣ng'
###   @4='tungtaodayzzzz'
###   @5='tungtaodayvvv@gmail.com'
###   @6=NULL
###   @7='84'
###   @8='0963153970'
###   @9='$2y$10$YaTrZDeTKfUTbmnqh3cpuehP2pevKGqHY1FFRBwWPIJ0E/l05NBRS'
###   @10=NULL
###   @11='Th├ánh phß╗æ H├á Nß╗Öi'
###   @12='Quß║¡n ─Éß╗æng ─Éa'
###   @13='Ph╞░ß╗¥ng Trung Phß╗Ñng'
###   @14='"No 9, Dao Duy Anh"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25='qDPsUWjBZIFqzcQPGTNuCSTD2cyt6sihZbWO98PghpySMQnzeASo6BX3zp5H'
###   @26=NULL
###   @27=NULL
###   @28=1746705315
###   @29=1746705347
###   @30=0
### SET
###   @1=22
###   @2='Nguyß╗àn Ho├áng'
###   @3='T├╣ng'
###   @4='tungtaodayzzzz'
###   @5='tungtaodayvvv@gmail.com'
###   @6=NULL
###   @7='84'
###   @8='0963153970'
###   @9='$2y$10$YaTrZDeTKfUTbmnqh3cpuehP2pevKGqHY1FFRBwWPIJ0E/l05NBRS'
###   @10=NULL
###   @11='Th├ánh phß╗æ H├á Nß╗Öi'
###   @12='Quß║¡n ─Éß╗æng ─Éa'
###   @13='Ph╞░ß╗¥ng Trung Phß╗Ñng'
###   @14='"No 9, Dao Duy Anh"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25='MbooGIvLOWokVCyzMUoEgbiV1jvYBjS0zpscDXhhKmakE4Zg7l51WluVWCbf'
###   @26=NULL
###   @27=NULL
###   @28=1746705315
###   @29=1746705347
###   @30=0
# at 8220
#250511 11:35:10 server id 1  end_log_pos 8251 CRC32 0x42da9fb7 	Xid = 10412
COMMIT/*!*/;
# at 8251
#250511 11:35:54 server id 1  end_log_pos 8330 CRC32 0x205e3fc1 	Anonymous_GTID	last_committed=14	sequence_number=15	rbr_only=yes	original_committed_timestamp=1746938154459977	immediate_commit_timestamp=1746938154459977	transaction_length=508
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746938154459977 (2025-05-11 11:35:54.459977 SE Asia Standard Time)
# immediate_commit_timestamp=1746938154459977 (2025-05-11 11:35:54.459977 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746938154459977*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 8330
#250511 11:35:54 server id 1  end_log_pos 8420 CRC32 0xe4a91ead 	Query	thread_id=384	exec_time=0	error_code=0
SET TIMESTAMP=1746938154/*!*/;
BEGIN
/*!*/;
# at 8420
#250511 11:35:54 server id 1  end_log_pos 8557 CRC32 0xddc556c6 	Table_map: `t_review_db`.`users` mapped to number 100
# has_generated_invisible_primary_key=0
# at 8557
#250511 11:35:54 server id 1  end_log_pos 8728 CRC32 0x9e9b9406 	Write_rows: table id 100 flags: STMT_END_F
### INSERT INTO `t_review_db`.`users`
### SET
###   @1=23
###   @2='Trß║ºn Thß╗ï ─Éan'
###   @3='T├óm'
###   @4=NULL
###   @5='tamsaxion@gmail.com'
###   @6=NULL
###   @7='84'
###   @8=NULL
###   @9='$2y$10$LZ8CO8J32KyGqIxJgRCVCeWyO8a7h7fay1s6r5YvvJaw92Ahcw6gm'
###   @10=NULL
###   @11=NULL
###   @12=NULL
###   @13=NULL
###   @14=NULL
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=0
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25=NULL
###   @26=NULL
###   @27=NULL
###   @28=1746938154
###   @29=1746938154
###   @30=0
# at 8728
#250511 11:35:54 server id 1  end_log_pos 8759 CRC32 0x7134d6d8 	Xid = 10502
COMMIT/*!*/;
# at 8759
#250511 11:35:54 server id 1  end_log_pos 8838 CRC32 0xef034e7d 	Anonymous_GTID	last_committed=15	sequence_number=16	rbr_only=yes	original_committed_timestamp=1746938154496753	immediate_commit_timestamp=1746938154496753	transaction_length=390
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746938154496753 (2025-05-11 11:35:54.496753 SE Asia Standard Time)
# immediate_commit_timestamp=1746938154496753 (2025-05-11 11:35:54.496753 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746938154496753*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 8838
#250511 11:35:54 server id 1  end_log_pos 8928 CRC32 0x0a1dc37e 	Query	thread_id=384	exec_time=0	error_code=0
SET TIMESTAMP=1746938154/*!*/;
BEGIN
/*!*/;
# at 8928
#250511 11:35:54 server id 1  end_log_pos 9014 CRC32 0xff2abe88 	Table_map: `t_review_db`.`admin_notifications` mapped to number 112
# has_generated_invisible_primary_key=0
# at 9014
#250511 11:35:54 server id 1  end_log_pos 9118 CRC32 0xcbaef305 	Write_rows: table id 112 flags: STMT_END_F
### INSERT INTO `t_review_db`.`admin_notifications`
### SET
###   @1=32
###   @2=23
###   @3='New member registered'
###   @4=0
###   @5='/admin/users/detail/23'
###   @6=1746938154
###   @7=1746938154
# at 9118
#250511 11:35:54 server id 1  end_log_pos 9149 CRC32 0x24c62888 	Xid = 10505
COMMIT/*!*/;
# at 9149
#250511 11:35:54 server id 1  end_log_pos 9228 CRC32 0xf9e5d816 	Anonymous_GTID	last_committed=16	sequence_number=17	rbr_only=yes	original_committed_timestamp=1746938154523429	immediate_commit_timestamp=1746938154523429	transaction_length=388
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746938154523429 (2025-05-11 11:35:54.523429 SE Asia Standard Time)
# immediate_commit_timestamp=1746938154523429 (2025-05-11 11:35:54.523429 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746938154523429*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 9228
#250511 11:35:54 server id 1  end_log_pos 9318 CRC32 0x52fb4da9 	Query	thread_id=384	exec_time=0	error_code=0
SET TIMESTAMP=1746938154/*!*/;
BEGIN
/*!*/;
# at 9318
#250511 11:35:54 server id 1  end_log_pos 9415 CRC32 0xdd76861d 	Table_map: `t_review_db`.`user_logins` mapped to number 110
# has_generated_invisible_primary_key=0
# at 9415
#250511 11:35:54 server id 1  end_log_pos 9506 CRC32 0xf9fed698 	Write_rows: table id 110 flags: STMT_END_F
### INSERT INTO `t_review_db`.`user_logins`
### SET
###   @1=52
###   @2=23
###   @3='127.0.0.1'
###   @4=''
###   @5=''
###   @6=''
###   @7=''
###   @8=''
###   @9='Chrome'
###   @10='Windows 10'
###   @11=1746938154
###   @12=1746938154
# at 9506
#250511 11:35:54 server id 1  end_log_pos 9537 CRC32 0x01a53358 	Xid = 10511
COMMIT/*!*/;
# at 9537
#250511 11:40:27 server id 1  end_log_pos 9616 CRC32 0xfad43181 	Anonymous_GTID	last_committed=17	sequence_number=18	rbr_only=yes	original_committed_timestamp=1746938427128941	immediate_commit_timestamp=1746938427128941	transaction_length=779
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746938427128941 (2025-05-11 11:40:27.128941 SE Asia Standard Time)
# immediate_commit_timestamp=1746938427128941 (2025-05-11 11:40:27.128941 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746938427128941*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 9616
#250511 11:40:27 server id 1  end_log_pos 9715 CRC32 0x0a48394d 	Query	thread_id=394	exec_time=0	error_code=0
SET TIMESTAMP=1746938427/*!*/;
BEGIN
/*!*/;
# at 9715
#250511 11:40:27 server id 1  end_log_pos 9852 CRC32 0xb924763f 	Table_map: `t_review_db`.`users` mapped to number 100
# has_generated_invisible_primary_key=0
# at 9852
#250511 11:40:27 server id 1  end_log_pos 10285 CRC32 0x9fb3c337 	Update_rows: table id 100 flags: STMT_END_F
### UPDATE `t_review_db`.`users`
### WHERE
###   @1=23
###   @2='Trß║ºn Thß╗ï ─Éan'
###   @3='T├óm'
###   @4=NULL
###   @5='tamsaxion@gmail.com'
###   @6=NULL
###   @7='84'
###   @8=NULL
###   @9='$2y$10$LZ8CO8J32KyGqIxJgRCVCeWyO8a7h7fay1s6r5YvvJaw92Ahcw6gm'
###   @10=NULL
###   @11=NULL
###   @12=NULL
###   @13=NULL
###   @14=NULL
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=0
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25=NULL
###   @26=NULL
###   @27=NULL
###   @28=1746938154
###   @29=1746938154
###   @30=0
### SET
###   @1=23
###   @2='Trß║ºn Thß╗ï ─Éan'
###   @3='T├óm'
###   @4='nguyentung0910@gmail.com'
###   @5='tamsaxion@gmail.com'
###   @6=NULL
###   @7='84'
###   @8='0963153970'
###   @9='$2y$10$LZ8CO8J32KyGqIxJgRCVCeWyO8a7h7fay1s6r5YvvJaw92Ahcw6gm'
###   @10=NULL
###   @11='Th├ánh phß╗æ H├á Nß╗Öi'
###   @12='Huyß╗çn Gia L├óm'
###   @13='Thß╗ï trß║Ñn Tr├óu Quß╗│'
###   @14='"No 9, Dao Duy Anh"'
###   @15=NULL
###   @16=1
###   @17=NULL
###   @18=1
###   @19=1
###   @20=NULL
###   @21=1
###   @22=NULL
###   @23=NULL
###   @24=NULL
###   @25=NULL
###   @26=NULL
###   @27=NULL
###   @28=1746938154
###   @29=1746938427
###   @30=0
# at 10285
#250511 11:40:27 server id 1  end_log_pos 10316 CRC32 0xda33c3e7 	Xid = 10649
COMMIT/*!*/;
# at 10316
#250511 14:07:38 server id 1  end_log_pos 10395 CRC32 0x617c3ae6 	Anonymous_GTID	last_committed=18	sequence_number=19	rbr_only=yes	original_committed_timestamp=1746947258826120	immediate_commit_timestamp=1746947258826120	transaction_length=387
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746947258826120 (2025-05-11 14:07:38.826120 SE Asia Standard Time)
# immediate_commit_timestamp=1746947258826120 (2025-05-11 14:07:38.826120 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746947258826120*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 10395
#250511 14:07:38 server id 1  end_log_pos 10485 CRC32 0xc94e7659 	Query	thread_id=406	exec_time=0	error_code=0
SET TIMESTAMP=1746947258/*!*/;
BEGIN
/*!*/;
# at 10485
#250511 14:07:38 server id 1  end_log_pos 10582 CRC32 0x872087b1 	Table_map: `t_review_db`.`user_logins` mapped to number 110
# has_generated_invisible_primary_key=0
# at 10582
#250511 14:07:38 server id 1  end_log_pos 10672 CRC32 0x10f3aa8b 	Write_rows: table id 110 flags: STMT_END_F
### INSERT INTO `t_review_db`.`user_logins`
### SET
###   @1=53
###   @2=23
###   @3='127.0.0.1'
###   @4=''
###   @5=NULL
###   @6=''
###   @7=''
###   @8=''
###   @9='Chrome'
###   @10='Windows 10'
###   @11=1746947258
###   @12=1746947258
# at 10672
#250511 14:07:38 server id 1  end_log_pos 10703 CRC32 0x384408f3 	Xid = 10982
COMMIT/*!*/;
# at 10703
#250511 14:10:55 server id 1  end_log_pos 10782 CRC32 0x1fac93be 	Anonymous_GTID	last_committed=19	sequence_number=20	rbr_only=no	original_committed_timestamp=1746947455345386	immediate_commit_timestamp=1746947455345386	transaction_length=275
# original_commit_timestamp=1746947455345386 (2025-05-11 14:10:55.345386 SE Asia Standard Time)
# immediate_commit_timestamp=1746947455345386 (2025-05-11 14:10:55.345386 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746947455345386*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 10782
#250511 14:10:55 server id 1  end_log_pos 10978 CRC32 0x0cf904d5 	Query	thread_id=9	exec_time=0	error_code=0	Xid = 11179
SET TIMESTAMP=1746947455/*!*/;
SET @@session.sql_mode=1168113696/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=255,@@session.collation_connection=255,@@session.collation_server=255/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE t_review_db.companies
DROP COLUMN city_code,
DROP COLUMN district_code,
DROP COLUMN ward_code
/*!*/;
# at 10978
#250511 14:11:29 server id 1  end_log_pos 11057 CRC32 0x1a5d9e1d 	Anonymous_GTID	last_committed=20	sequence_number=21	rbr_only=no	original_committed_timestamp=1746947489231555	immediate_commit_timestamp=1746947489231555	transaction_length=351
# original_commit_timestamp=1746947489231555 (2025-05-11 14:11:29.231555 SE Asia Standard Time)
# immediate_commit_timestamp=1746947489231555 (2025-05-11 14:11:29.231555 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746947489231555*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 11057
#250511 14:11:29 server id 1  end_log_pos 11329 CRC32 0x1fb9d40a 	Query	thread_id=9	exec_time=0	error_code=0	Xid = 11183
SET TIMESTAMP=1746947489/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE t_review_db.companies
ADD COLUMN city VARCHAR(255) NULL AFTER address,
ADD COLUMN district VARCHAR(255) NULL AFTER city,
ADD COLUMN ward VARCHAR(255) NULL AFTER district
/*!*/;
# at 11329
#250511 14:15:46 server id 1  end_log_pos 11408 CRC32 0x223c035d 	Anonymous_GTID	last_committed=21	sequence_number=22	rbr_only=yes	original_committed_timestamp=1746947746762332	immediate_commit_timestamp=1746947746762332	transaction_length=557
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746947746762332 (2025-05-11 14:15:46.762332 SE Asia Standard Time)
# immediate_commit_timestamp=1746947746762332 (2025-05-11 14:15:46.762332 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746947746762332*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 11408
#250511 14:15:46 server id 1  end_log_pos 11500 CRC32 0xbe9648dc 	Query	thread_id=441	exec_time=0	error_code=0
SET TIMESTAMP=1746947746/*!*/;
SET @@session.sql_mode=1073741824/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=224,@@session.collation_connection=224,@@session.collation_server=255/*!*/;
BEGIN
/*!*/;
# at 11500
#250511 14:15:46 server id 1  end_log_pos 11609 CRC32 0x214fd617 	Table_map: `t_review_db`.`companies` mapped to number 125
# has_generated_invisible_primary_key=0
# at 11609
#250511 14:15:46 server id 1  end_log_pos 11855 CRC32 0x62e1438f 	Write_rows: table id 125 flags: STMT_END_F
### INSERT INTO `t_review_db`.`companies`
### SET
###   @1=4
###   @2=23
###   @3=1
###   @4='Tung Nguyen Hoang'
###   @5='default.jpg'
###   @6=NULL
###   @7='Nguyentung0910@gmail.com'
###   @8='No 9, Dao Duy Anh'
###   @9='Tß╗ënh Bß║»c Kß║ín'
###   @10='Huyß╗çn Ba Bß╗â'
###   @11='X├ú Ph├║c Lß╗Öc'
###   @12='├ídasdasdasdasdasd'
###   @13='"[\\"sad\\",\\"\\\\u00e1dda\\"]"'
###   @14=2
###   @15=0.00
###   @16=NULL
###   @17=1746947746
###   @18=1746947746
###   @19=NULL
# at 11855
#250511 14:15:46 server id 1  end_log_pos 11886 CRC32 0x497d8a98 	Xid = 11696
COMMIT/*!*/;
# at 11886
#250511 14:36:09 server id 1  end_log_pos 11965 CRC32 0xd035c7bd 	Anonymous_GTID	last_committed=22	sequence_number=23	rbr_only=yes	original_committed_timestamp=1746948969503419	immediate_commit_timestamp=1746948969503419	transaction_length=362
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746948969503419 (2025-05-11 14:36:09.503419 SE Asia Standard Time)
# immediate_commit_timestamp=1746948969503419 (2025-05-11 14:36:09.503419 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746948969503419*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 11965
#250511 14:36:09 server id 1  end_log_pos 12055 CRC32 0x86d2a927 	Query	thread_id=502	exec_time=0	error_code=0
SET TIMESTAMP=1746948969/*!*/;
BEGIN
/*!*/;
# at 12055
#250511 14:36:09 server id 1  end_log_pos 12143 CRC32 0x9fbe52c2 	Table_map: `t_review_db`.`company_wallets` mapped to number 128
# has_generated_invisible_primary_key=0
# at 12143
#250511 14:36:09 server id 1  end_log_pos 12217 CRC32 0xb8d56691 	Write_rows: table id 128 flags: STMT_END_F
### INSERT INTO `t_review_db`.`company_wallets`
### SET
###   @1=2
###   @2=2
###   @3=1000000000000.00
###   @4='USD'
###   @5=1
###   @6=NULL
###   @7=1746948969
###   @8=1746948969
###   @9=NULL
# at 12217
#250511 14:36:09 server id 1  end_log_pos 12248 CRC32 0x2ee79b9d 	Xid = 13786
COMMIT/*!*/;
# at 12248
#250511 14:38:59 server id 1  end_log_pos 12327 CRC32 0xdc6d2c73 	Anonymous_GTID	last_committed=23	sequence_number=24	rbr_only=yes	original_committed_timestamp=1746949139997878	immediate_commit_timestamp=1746949139997878	transaction_length=7060
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746949139997878 (2025-05-11 14:38:59.997878 SE Asia Standard Time)
# immediate_commit_timestamp=1746949139997878 (2025-05-11 14:38:59.997878 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746949139997878*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 12327
#250511 14:38:59 server id 1  end_log_pos 12417 CRC32 0x0e3923d9 	Query	thread_id=512	exec_time=0	error_code=0
SET TIMESTAMP=1746949139/*!*/;
BEGIN
/*!*/;
# at 12417
#250511 14:38:59 server id 1  end_log_pos 12517 CRC32 0x876241e0 	Table_map: `t_review_db`.`notification_logs` mapped to number 130
# has_generated_invisible_primary_key=0
# at 12517
#250511 14:38:59 server id 1  end_log_pos 19277 CRC32 0x82fae71a 	Write_rows: table id 130 flags: STMT_END_F
### INSERT INTO `t_review_db`.`notification_logs`
### SET
###   @1=18
###   @2=23
###   @3='smtp'
###   @4='Nguyentung0910@gmail.com'
###   @5='tamsaxion@gmail.com'
###   @6='Your company is approved by authority'
###   @7='<meta http-equiv="Content-Type" content="text/html; charset=utf-8">\r\n  <!--[if !mso]><!-->\r\n  <meta http-equiv="X-UA-Compatible" content="IE=edge">\r\n  <!--<![endif]-->\r\n  <meta name="viewport" content="width=device-width, initial-scale=1.0">\r\n  <title></title>\r\n  <style type="text/css">\r\n.ReadMsgBody { width: 100%; background-color: #ffffff; }\r\n.ExternalClass { width: 100%; background-color: #ffffff; }\r\n.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }\r\nhtml { width: 100%; }\r\nbody { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; }\r\ntable { border-spacing: 0; table-layout: fixed; margin: 0 auto;border-collapse: collapse; }\r\ntable table table { table-layout: auto; }\r\n.yshortcuts a { border-bottom: none !important; }\r\nimg:hover { opacity: 0.9 !important; }\r\na { color: #0087ff; text-decoration: none; }\r\n.textbutton a { font-family: \'open sans\', arial, sans-serif !important;}\r\n.btn-link a { color:#FFFFFF !important;}\r\n\r\n@media only screen and (max-width: 480px) {\r\nbody { width: auto !important; }\r\n*[class="table-inner"] { width: 90% !important; text-align: center !important; }\r\n*[class="table-full"] { width: 100% !important; text-align: center !important; }\r\n/* image */\r\nimg[class="img1"] { width: 100% !important; height: auto !important; }\r\n}\r\n</style>\r\n\r\n\r\n\r\n  <table bgcolor="#414a51" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">\r\n    <tbody><tr>\r\n      <td height="50"></td>\r\n    </tr>\r\n    <tr>\r\n      <td align="center" style="text-align:center;vertical-align:top;font-size:0;">\r\n        <table align="center" border="0" cellpadding="0" cellspacing="0">\r\n          <tbody><tr>\r\n            <td align="center" width="600">\r\n              <!--header-->\r\n              <table class="table-inner" width="95%" border="0" align="center" cellpadding="0" cellspacing="0">\r\n                <tbody><tr>\r\n                  <td bgcolor="#0087ff" style="border-top-left-radius:6px; border-top-right-radius:6px;text-align:center;vertical-align:top;font-size:0;" align="center">\r\n                    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">\r\n                      <tbody><tr>\r\n                        <td height="20"></td>\r\n                      </tr>\r\n                      <tr>\r\n                        <td align="center" style="font-family: \'Open sans\', Arial, sans-serif; color:#FFFFFF; font-size:16px; font-weight: bold;">This is a System Generated Email</td>\r\n                      </tr>\r\n                      <tr>\r\n                        <td height="20"></td>\r\n                      </tr>\r\n                    </tbody></table>\r\n                  </td>\r\n                </tr>\r\n              </tbody></table>\r\n              <!--end header-->\r\n              <table class="table-inner" width="95%" border="0" cellspacing="0" cellpadding="0">\r\n                <tbody><tr>\r\n                  <td bgcolor="#FFFFFF" align="center" style="text-align:center;vertical-align:top;font-size:0;">\r\n                    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">\r\n                      <tbody><tr>\r\n                        <td height="35"></td>\r\n                      </tr>\r\n                      <!--logo-->\r\n                      <tr>\r\n                        <td align="center" style="vertical-align:top;font-size:0;">\r\n                          <a href="#">\r\n                            <img style="display:block; line-height:0px; font-size:0px; border:0px;" src="https://i.imgur.com/Z1qtvtV.png" alt="img">\r\n                          </a>\r\n                        </td>\r\n                      </tr>\r\n                      <!--end logo-->\r\n                      <tr>\r\n                        <td height="40"></td>\r\n                      </tr>\r\n                      <!--headline-->\r\n                      <tr>\r\n                        <td align="center" style="font-family: \'Open Sans\', Arial, sans-serif; font-size: 22px;color:#414a51;font-weight: bold;">Hello Trß║ºn Thß╗ï ─Éan T├óm (nguyentung0910@gmail.com)</td>\r\n                      </tr>\r\n                      <!--end headline-->\r\n                      <tr>\r\n                        <td align="center" style="text-align:center;vertical-align:top;font-size:0;">\r\n                          <table width="40" border="0" align="center" cellpadding="0" cellspacing="0">\r\n                            <tbody><tr>\r\n                              <td height="20" style=" border-bottom:3px solid #0087ff;"></td>\r\n                            </tr>\r\n                          </tbody></table>\r\n                        </td>\r\n                      </tr>\r\n                      <tr>\r\n                        <td height="20"></td>\r\n                      </tr>\r\n                      <!--content-->\r\n                      <tr>\r\n                        <td align="left" style="font-family: \'Open sans\', Arial, sans-serif; color:#7f8c8d; font-size:16px; line-height: 28px;"><div>The Tung Nguyen Hoang has been approved successfully </div>\r\n<div>by doitay.</div>\r\n<div>Authority feedback:\'\'</div></td>\r\n                      </tr>\r\n                      <!--end content-->\r\n                      <tr>\r\n                        <td height="40"></td>\r\n                      </tr>\r\n              \r\n                    </tbody></table>\r\n                  </td>\r\n                </tr>\r\n                <tr>\r\n                  <td height="45" align="center" bgcolor="#f4f4f4" style="border-bottom-left-radius:6px;border-bottom-right-radius:6px;">\r\n                    <table align="center" width="90%" border="0" cellspacing="0" cellpadding="0">\r\n                      <tbody><tr>\r\n                        <td height="10"></td>\r\n                      </tr>\r\n                      <!--preference-->\r\n                      <tr>\r\n                        <td class="preference-link" align="center" style="font-family: \'Open sans\', Arial, sans-serif; color:#95a5a6; font-size:14px;">\r\n                          ┬⌐ 2021 <a href="#">doitay</a>&nbsp;. All Rights Reserved. \r\n                        </td>\r\n                      </tr>\r\n                      <!--end preference-->\r\n                      <tr>\r\n                        <td height="10"></td>\r\n                      </tr>\r\n                    </tbody></table>\r\n                  </td>\r\n                </tr>\r\n              </tbody></table>\r\n            </td>\r\n          </tr>\r\n        </tbody></table>\r\n      </td>\r\n    </tr>\r\n    <tr>\r\n      <td height="60"></td>\r\n    </tr>\r\n  </tbody></table>'
###   @8='email'
###   @9=NULL
###   @10=0
###   @11=1746949139
###   @12=1746949139
# at 19277
#250511 14:38:59 server id 1  end_log_pos 19308 CRC32 0x1d6f0c4b 	Xid = 14189
COMMIT/*!*/;
# at 19308
#250511 14:39:01 server id 1  end_log_pos 19387 CRC32 0x374054bd 	Anonymous_GTID	last_committed=24	sequence_number=25	rbr_only=yes	original_committed_timestamp=1746949141946994	immediate_commit_timestamp=1746949141946994	transaction_length=374
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746949141946994 (2025-05-11 14:39:01.946994 SE Asia Standard Time)
# immediate_commit_timestamp=1746949141946994 (2025-05-11 14:39:01.946994 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746949141946994*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 19387
#250511 14:39:01 server id 1  end_log_pos 19477 CRC32 0xcde83aa3 	Query	thread_id=512	exec_time=0	error_code=0
SET TIMESTAMP=1746949141/*!*/;
BEGIN
/*!*/;
# at 19477
#250511 14:39:01 server id 1  end_log_pos 19563 CRC32 0xcbcd55d7 	Table_map: `t_review_db`.`admin_notifications` mapped to number 112
# has_generated_invisible_primary_key=0
# at 19563
#250511 14:39:01 server id 1  end_log_pos 19651 CRC32 0xef49c9fe 	Write_rows: table id 112 flags: STMT_END_F
### INSERT INTO `t_review_db`.`admin_notifications`
### SET
###   @1=33
###   @2=0
###   @3='SMS Error: Bad Credentials'
###   @4=0
###   @5='#'
###   @6=1746949141
###   @7=1746949141
# at 19651
#250511 14:39:01 server id 1  end_log_pos 19682 CRC32 0xfd9cceaf 	Xid = 14195
COMMIT/*!*/;
# at 19682
#250511 14:39:02 server id 1  end_log_pos 19761 CRC32 0xea440812 	Anonymous_GTID	last_committed=25	sequence_number=26	rbr_only=yes	original_committed_timestamp=1746949142020809	immediate_commit_timestamp=1746949142020809	transaction_length=787
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746949142020809 (2025-05-11 14:39:02.020809 SE Asia Standard Time)
# immediate_commit_timestamp=1746949142020809 (2025-05-11 14:39:02.020809 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746949142020809*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 19761
#250511 14:39:02 server id 1  end_log_pos 19862 CRC32 0x5f6eb2fa 	Query	thread_id=512	exec_time=0	error_code=0
SET TIMESTAMP=1746949142/*!*/;
BEGIN
/*!*/;
# at 19862
#250511 14:39:02 server id 1  end_log_pos 19971 CRC32 0xc36576f0 	Table_map: `t_review_db`.`companies` mapped to number 125
# has_generated_invisible_primary_key=0
# at 19971
#250511 14:39:02 server id 1  end_log_pos 20438 CRC32 0xe2ad79eb 	Update_rows: table id 125 flags: STMT_END_F
### UPDATE `t_review_db`.`companies`
### WHERE
###   @1=4
###   @2=23
###   @3=1
###   @4='Tung Nguyen Hoang'
###   @5='default.jpg'
###   @6=NULL
###   @7='Nguyentung0910@gmail.com'
###   @8='No 9, Dao Duy Anh'
###   @9='Tß╗ënh Bß║»c Kß║ín'
###   @10='Huyß╗çn Ba Bß╗â'
###   @11='X├ú Ph├║c Lß╗Öc'
###   @12='├ídasdasdasdasdasd'
###   @13='"[\\"sad\\",\\"\\\\u00e1dda\\"]"'
###   @14=2
###   @15=0.00
###   @16=NULL
###   @17=1746947746
###   @18=1746947746
###   @19=NULL
### SET
###   @1=4
###   @2=23
###   @3=1
###   @4='Tung Nguyen Hoang'
###   @5='default.jpg'
###   @6=NULL
###   @7='Nguyentung0910@gmail.com'
###   @8='No 9, Dao Duy Anh'
###   @9='Tß╗ënh Bß║»c Kß║ín'
###   @10='Huyß╗çn Ba Bß╗â'
###   @11='X├ú Ph├║c Lß╗Öc'
###   @12='├ídasdasdasdasdasd'
###   @13='"[\\"sad\\",\\"\\\\u00e1dda\\"]"'
###   @14=1
###   @15=0.00
###   @16='approve'
###   @17=1746947746
###   @18=1746949142
###   @19=NULL
# at 20438
#250511 14:39:02 server id 1  end_log_pos 20469 CRC32 0x299d0ba2 	Xid = 14204
COMMIT/*!*/;
# at 20469
#250511 21:53:41 server id 1  end_log_pos 20548 CRC32 0x474c437e 	Anonymous_GTID	last_committed=26	sequence_number=27	rbr_only=yes	original_committed_timestamp=1746975221720808	immediate_commit_timestamp=1746975221720808	transaction_length=387
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1746975221720808 (2025-05-11 21:53:41.720808 SE Asia Standard Time)
# immediate_commit_timestamp=1746975221720808 (2025-05-11 21:53:41.720808 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1746975221720808*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 20548
#250511 21:53:41 server id 1  end_log_pos 20638 CRC32 0x8ed21ee8 	Query	thread_id=530	exec_time=0	error_code=0
SET TIMESTAMP=1746975221/*!*/;
BEGIN
/*!*/;
# at 20638
#250511 21:53:41 server id 1  end_log_pos 20735 CRC32 0xbb7ec20a 	Table_map: `t_review_db`.`user_logins` mapped to number 110
# has_generated_invisible_primary_key=0
# at 20735
#250511 21:53:41 server id 1  end_log_pos 20825 CRC32 0xe680fbf3 	Write_rows: table id 110 flags: STMT_END_F
### INSERT INTO `t_review_db`.`user_logins`
### SET
###   @1=54
###   @2=1
###   @3='127.0.0.1'
###   @4=''
###   @5=NULL
###   @6=''
###   @7=''
###   @8=''
###   @9='Chrome'
###   @10='Windows 10'
###   @11=1746975221
###   @12=1746975221
# at 20825
#250511 21:53:41 server id 1  end_log_pos 20856 CRC32 0x45c16f4f 	Xid = 14866
COMMIT/*!*/;
# at 20856
#250517 13:48:36 server id 1  end_log_pos 20935 CRC32 0x360aaf76 	Anonymous_GTID	last_committed=27	sequence_number=28	rbr_only=yes	original_committed_timestamp=1747464516425782	immediate_commit_timestamp=1747464516425782	transaction_length=343
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1747464516425782 (2025-05-17 13:48:36.425782 SE Asia Standard Time)
# immediate_commit_timestamp=1747464516425782 (2025-05-17 13:48:36.425782 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1747464516425782*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 20935
#250517 13:48:36 server id 1  end_log_pos 21006 CRC32 0x198fedc7 	Query	thread_id=9	exec_time=0	error_code=0
SET TIMESTAMP=1747464516/*!*/;
SET @@session.sql_mode=1168113696/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=255,@@session.collation_connection=255,@@session.collation_server=255/*!*/;
BEGIN
/*!*/;
# at 21006
#250517 13:48:36 server id 1  end_log_pos 21086 CRC32 0x209bdb09 	Table_map: `t_review_db`.`pages` mapped to number 95
# has_generated_invisible_primary_key=0
# at 21086
#250517 13:48:36 server id 1  end_log_pos 21168 CRC32 0x6aa28b9e 	Write_rows: table id 95 flags: STMT_END_F
### INSERT INTO `t_review_db`.`pages`
### SET
###   @1=21
###   @2='About Us'
###   @3='about-us'
###   @4='templates.basic.'
###   @5=NULL
###   @6=NULL
###   @7=1
###   @8=NULL
###   @9=NULL
# at 21168
#250517 13:48:36 server id 1  end_log_pos 21199 CRC32 0x1374e0d0 	Xid = 20483
COMMIT/*!*/;
# at 21199
#250517 14:04:39 server id 1  end_log_pos 21278 CRC32 0xe24f65d7 	Anonymous_GTID	last_committed=28	sequence_number=29	rbr_only=yes	original_committed_timestamp=1747465479329430	immediate_commit_timestamp=1747465479329430	transaction_length=442
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1747465479329430 (2025-05-17 14:04:39.329430 SE Asia Standard Time)
# immediate_commit_timestamp=1747465479329430 (2025-05-17 14:04:39.329430 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1747465479329430*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 21278
#250517 14:04:39 server id 1  end_log_pos 21377 CRC32 0x9a3e8b07 	Query	thread_id=734	exec_time=0	error_code=0
SET TIMESTAMP=1747465479/*!*/;
SET @@session.sql_mode=1073741824/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=224,@@session.collation_connection=224,@@session.collation_server=255/*!*/;
BEGIN
/*!*/;
# at 21377
#250517 14:04:39 server id 1  end_log_pos 21457 CRC32 0x0a08b2b5 	Table_map: `t_review_db`.`pages` mapped to number 95
# has_generated_invisible_primary_key=0
# at 21457
#250517 14:04:39 server id 1  end_log_pos 21610 CRC32 0xa1a3e75f 	Update_rows: table id 95 flags: STMT_END_F
### UPDATE `t_review_db`.`pages`
### WHERE
###   @1=21
###   @2='About Us'
###   @3='about-us'
###   @4='templates.basic.'
###   @5=NULL
###   @6=NULL
###   @7=1
###   @8=NULL
###   @9=NULL
### SET
###   @1=21
###   @2='About Us'
###   @3='about-us'
###   @4='templates.basic.'
###   @5='["choose_reason"]'
###   @6=NULL
###   @7=1
###   @8=NULL
###   @9=1747465479
# at 21610
#250517 14:04:39 server id 1  end_log_pos 21641 CRC32 0x1e4dd049 	Xid = 21799
COMMIT/*!*/;
# at 21641
#250517 15:47:30 server id 1  end_log_pos 21720 CRC32 0x7981a034 	Anonymous_GTID	last_committed=29	sequence_number=30	rbr_only=yes	original_committed_timestamp=1747471650749432	immediate_commit_timestamp=1747471650749432	transaction_length=446
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1747471650749432 (2025-05-17 15:47:30.749432 SE Asia Standard Time)
# immediate_commit_timestamp=1747471650749432 (2025-05-17 15:47:30.749432 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1747471650749432*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 21720
#250517 15:47:30 server id 1  end_log_pos 21819 CRC32 0x021f001e 	Query	thread_id=773	exec_time=0	error_code=0
SET TIMESTAMP=1747471650/*!*/;
BEGIN
/*!*/;
# at 21819
#250517 15:47:30 server id 1  end_log_pos 21899 CRC32 0xcd76fb69 	Table_map: `t_review_db`.`pages` mapped to number 95
# has_generated_invisible_primary_key=0
# at 21899
#250517 15:47:30 server id 1  end_log_pos 22056 CRC32 0xd731f9bf 	Update_rows: table id 95 flags: STMT_END_F
### UPDATE `t_review_db`.`pages`
### WHERE
###   @1=21
###   @2='About Us'
###   @3='about-us'
###   @4='templates.basic.'
###   @5='["choose_reason"]'
###   @6=NULL
###   @7=1
###   @8=NULL
###   @9=1747465479
### SET
###   @1=21
###   @2='About Us'
###   @3='about-us'
###   @4='templates.basic.'
###   @5=NULL
###   @6=NULL
###   @7=1
###   @8=NULL
###   @9=1747471650
# at 22056
#250517 15:47:30 server id 1  end_log_pos 22087 CRC32 0x6e90d7b1 	Xid = 22824
COMMIT/*!*/;
# at 22087
#250517 16:07:08 server id 1  end_log_pos 22166 CRC32 0xdb249241 	Anonymous_GTID	last_committed=30	sequence_number=31	rbr_only=yes	original_committed_timestamp=1747472828819138	immediate_commit_timestamp=1747472828819138	transaction_length=1874
/*!50718 SET TRANSACTION ISOLATION LEVEL READ COMMITTED*//*!*/;
# original_commit_timestamp=1747472828819138 (2025-05-17 16:07:08.819138 SE Asia Standard Time)
# immediate_commit_timestamp=1747472828819138 (2025-05-17 16:07:08.819138 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1747472828819138*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 22166
#250517 16:07:08 server id 1  end_log_pos 22237 CRC32 0x3d0216c5 	Query	thread_id=9	exec_time=0	error_code=0
SET TIMESTAMP=1747472828/*!*/;
SET @@session.sql_mode=1168113696/*!*/;
/*!\C utf8mb4 *//*!*/;
SET @@session.character_set_client=255,@@session.collation_connection=255,@@session.collation_server=255/*!*/;
BEGIN
/*!*/;
# at 22237
#250517 16:07:08 server id 1  end_log_pos 22319 CRC32 0x06d83f82 	Table_map: `t_review_db`.`frontends` mapped to number 96
# has_generated_invisible_primary_key=0
# at 22319
#250517 16:07:08 server id 1  end_log_pos 23930 CRC32 0xa06866ab 	Write_rows: table id 96 flags: STMT_END_F
### INSERT INTO `t_review_db`.`frontends`
### SET
###   @1=87
###   @2='about_us.content'
###   @3='<div class="row justify-content-center mb-5">\n        <div class="col-lg-8 text-center">\n            <h2 class="mb-3">Vß╗ü Ch├║ng T├┤i</h2>\n            <p class="lead">\n                Ch├║ng t├┤i l├á mß╗Öt ─æß╗Öi ng┼⌐ ─æam m├¬ c├┤ng nghß╗ç, s├íng tß║ío v├á tß║¡n t├óm vß╗¢i sß╗⌐ mß╗çnh mang lß║íi giß║úi ph├íp tß╗æt nhß║Ñt cho kh├ích h├áng.\n            </p>\n        </div>\n    </div>\n    <div class="row align-items-center mb-5">\n        <div class="col-lg-6 mb-4 mb-lg-0">\n            <img src="assets/images/about/about.jpg" alt="About Us" class="img-fluid rounded shadow">\n        </div>\n        <div class="col-lg-6">\n            <h3 class="mb-3">Sß╗⌐ mß╗çnh cß╗ºa ch├║ng t├┤i</h3>\n            <p>\n                Ch├║ng t├┤i lu├┤n nß╗ù lß╗▒c ph├ít triß╗ân c├íc sß║ún phß║⌐m, dß╗ïch vß╗Ñ chß║Ñt l╞░ß╗úng cao, lß║Ñy kh├ích h├áng l├ám trung t├óm v├á kh├┤ng ngß╗½ng ─æß╗òi mß╗¢i s├íng tß║ío.\n            </p>\n            <ul class="list-unstyled mt-3">\n                <li class="mb-2">\n                    <i class="las la-check-circle text-success"></i>\n                    ─Éß╗Öi ng┼⌐ chuy├¬n nghiß╗çp, tß║¡n t├óm\n                </li>\n                <li class="mb-2">\n                    <i class="las la-check-circle text-success"></i>\n                    C├┤ng nghß╗ç hiß╗çn ─æß║íi\n                </li>\n                <li class="mb-2">\n                    <i class="las la-check-circle text-success"></i>\n                    Hß╗ù trß╗ú kh├ích h├áng 24/7\n                </li>\n            </ul>\n        </div>\n    </div>'
###   @4='basic'
###   @5='about-us'
###   @6=NULL
###   @7=NULL
###   @8=NULL
# at 23930
#250517 16:07:08 server id 1  end_log_pos 23961 CRC32 0x9756d3ba 	Xid = 24311
COMMIT/*!*/;
# at 23961
#250517 16:07:14 server id 1  end_log_pos 24040 CRC32 0x2d061bed 	Anonymous_GTID	last_committed=31	sequence_number=32	rbr_only=no	original_committed_timestamp=1747472834404728	immediate_commit_timestamp=1747472834404728	transaction_length=373
# original_commit_timestamp=1747472834404728 (2025-05-17 16:07:14.404728 SE Asia Standard Time)
# immediate_commit_timestamp=1747472834404728 (2025-05-17 16:07:14.404728 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1747472834404728*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 24040
#250517 16:07:14 server id 1  end_log_pos 24334 CRC32 0x018661bf 	Query	thread_id=9	exec_time=0	error_code=0	Xid = 24313
SET TIMESTAMP=1747472834/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE t_review_db.companies
ADD COLUMN city_code varchar(50) NULL AFTER address,
ADD COLUMN district_code varchar(50) NULL AFTER city_code,
ADD COLUMN ward_code varchar(50) NULL AFTER district_code
/*!*/;
# at 24334
#250517 16:07:14 server id 1  end_log_pos 24413 CRC32 0xa839f100 	Anonymous_GTID	last_committed=32	sequence_number=33	rbr_only=no	original_committed_timestamp=1747472834437258	immediate_commit_timestamp=1747472834437258	transaction_length=275
# original_commit_timestamp=1747472834437258 (2025-05-17 16:07:14.437258 SE Asia Standard Time)
# immediate_commit_timestamp=1747472834437258 (2025-05-17 16:07:14.437258 SE Asia Standard Time)
/*!80001 SET @@session.original_commit_timestamp=1747472834437258*//*!*/;
/*!80014 SET @@session.original_server_version=80040*//*!*/;
/*!80014 SET @@session.immediate_server_version=80040*//*!*/;
SET @@SESSION.GTID_NEXT= 'ANONYMOUS'/*!*/;
# at 24413
#250517 16:07:14 server id 1  end_log_pos 24609 CRC32 0xc1e74087 	Query	thread_id=9	exec_time=0	error_code=0	Xid = 24314
SET TIMESTAMP=1747472834/*!*/;
/*!80013 SET @@session.sql_require_primary_key=0*//*!*/;
ALTER TABLE t_review_db.companies
DROP COLUMN city_code,
DROP COLUMN district_code,
DROP COLUMN ward_code
/*!*/;
SET @@SESSION.GTID_NEXT= 'AUTOMATIC' /* added by mysqlbinlog */ /*!*/;
DELIMITER ;
# End of log file
/*!50003 SET COMPLETION_TYPE=@OLD_COMPLETION_TYPE*/;
/*!50530 SET @@SESSION.PSEUDO_SLAVE_MODE=0*/;
